<section class="custom-section">
  <h2>More Information</h2>
  <p>Some videos of my live training sessions:</p>
  <ul>
    <li>
      Cómo empezar a hacer tus pruebas en iOS con Appium - Estefanía Fernández -
      Salmorejotech 2019<br />
      <a href="https://www.youtube.com/watch?v=xLLbVCjUV-8&li" target="_blank"
        >Ver video</a
      >
    </li>
    <li>
      Cómo hacer test automáticos en aplicaciones iOS con Appium - Open South
      Code 2019<br />
      <a
        href="https://www.opensouthcode.org/conferences/opensouthcode2019/program/proposals/171"
        target="_blank"
        >Ver charla</a
      >
    </li>
    <li>
      Mujeres en Testing - Northem Quality - October 2020<br />
      <a
        href="https://www.youtube.com/watch?v=jsU059nMYUo&feature=youtu.be"
        target="_blank"
        >Ver video</a
      >
    </li>
    <li>
      Programando se entienden las máquinas - Podcast Aula Software Libre
      December 2020<br />
      <a
        href="https://www.uco.es/aulasoftwarelibre/2743-episodio-2-estefania-fernandez-munoz/"
        target="_blank"
        >Escuchar podcast</a
      >
    </li>
    <li>
      Automatización de Pruebas: República Web #208 with Manuel Franco - June
      2022<br />
      <a href="https://www.youtube.com/watch?v=BEN2t_DXEB4" target="_blank"
        >Ver video</a
      >
    </li>
    <li>
      ¿Qué es el rol de QA tester en Programación? | #laFunción 8x17 - Codely
      February 2023<br />
      <a href="https://www.youtube.com/watch?v=vbNbfBE2D7s" target="_blank"
        >Ver video</a
      >
    </li>
    <li>
      All-in Pruebas Automatizadas (live and online meetup) | Sngular - June
      2023<br />
      <a
        href="https://www.youtube.com/watch?v=OK8i2ExZl-o&t=2133s"
        target="_blank"
        >Ver video</a
      >
    </li>
    <li>
      Scaling Your Testing Strategy (live and online workshop) | Cypress Team
      and Ambassadors - July 2023<br />
      <a href="https://www.youtube.com/watch?v=F2_khWMj19A" target="_blank"
        >Ver video</a
      >
    </li>
  </ul>
  <hr />
  <h3>Courses over the years:</h3>
  <ul>
    <li>
      <b>2023:</b>
      <ul>
        <li>
          ChatGPT Prompt Engineering for Developers. May 2023. Deep Learning AI.
        </li>
      </ul>
    </li>
    <li>
      <b>2022:</b>
      <ul>
        <li>
          How to Manage a Remote Team by the GitLab team. May 2022. Coursera.
        </li>
      </ul>
    </li>
    <li>
      <b>2021:</b>
      <ul>
        <li>
          Automated Visual Testing - A Fast Path To Test Automation Success -
          Angy Jones. January 2021. TAU (Test Automation University).
        </li>
        <li>
          Web Element Locator Strategies - Andrew Knight. January 2021. TAU
          (Test Automation University).
        </li>
        <li>
          Cucumber with Java - Giridhar Rajkumar. January 2021. TAU (Test
          Automation University).
        </li>
      </ul>
    </li>
    <li>
      <b>2020:</b>
      <ul>
        <li>
          Introduction to TestNG - Rex Jones II. January 2020. TAU (Test
          Automation University).
        </li>
        <li>
          Introduction to Cypress - Gil Tayar. February 2020. TAU (Test
          Automation University).
        </li>
        <li>
          Test Automation- quick start - Rostyslav Apostol. April 2020. Udemy.
        </li>
        <li>
          Web Application Performance Testing - Mentors Native. April 2020.
          Udemy.
        </li>
        <li>
          Test Driven Development con Java y Junit5 - Alejandro Polo Rangel.
          April 2020. Udemy.
        </li>
        <li>
          Selenium WebDriver with Java - Angy Jones. September 2020. TAU (Test
          Automation University).
        </li>
        <li>
          IntelliJ for Test Automation Engineers - Corina Pip. September 2020.
          TAU (Test Automation University).
        </li>
        <li>
          Java Programming - Angy Jones. September 2020. TAU (Test Automation
          University).
        </li>
        <li>
          Modern Functional Test Automation Through Visual AI - Raja Rao DV.
          September 2020. TAU (Test Automation University).
        </li>
        <li>
          Automated Visual Testing with Appium - Jonathan Lipps. September 2020.
          TAU (Test Automation University).
        </li>
        <li>
          Source Control for Test Automation with Git - Simon Berner. September
          2020. TAU (Test Automation University).
        </li>
        <li>
          Setting a Foundation for Successful Test Automation - Angy Jones.
          January 2020. TAU (Test Automation University).
        </li>
      </ul>
    </li>
    <li>
      <b>2019:</b>
      <ul>
        <li>
          CP-SAT - Certified Professional Selenium Automation Testing - Agile
          Testing Alliance Org. February 2019. Udemy.
        </li>
        <li>Accessibility Features on Android. February 2019. Udemy.</li>
        <li>
          Jenkins Introduction for Developer - Tan Pham. February 2019. Udemy.
        </li>
        <li>
          CICD (DevOPs Tools) for Automation Testers (Selenium) - Automation
          Talks. February 2019. Udemy.
        </li>
        <li>
          Making Chatbot & Voice Apps (with Dialogflow v1) - M.Inzamam Malik.
          February 2019. Udemy.
        </li>
        <li>
          Automation Testing With HP UFT 14.00 Latest Version - Pavan Lalwani.
          April 2019. Udemy.
        </li>
        <li>
          Everything for Software Tester - Testing World. April 2019. Udemy.
        </li>
        <li>
          Software Testing By Innovation Techniques - Ganesh Sahai. May 2019.
          Udemy.
        </li>
        <li>
          Build+Deploy+Test with Jenkins 2.0 - Karthik KK. June 2019. Udemy.
        </li>
      </ul>
    </li>
    <li>
      <b>2018:</b>
      <ul>
        <li>
          Kubernetes Course from a DevOps guru (Kubernetes + Docker). December
          2018. Udemy.
        </li>
        <li>
          Selenium WebDriver with C# for Beginners + Live Testing Site - Tod
          Vachev. December 2018. Udemy.
        </li>
        <li>
          Learn DevOps with Jenkins All in One Guide - Eduonix Learning
          Solutions. December 2018. Udemy.
        </li>
        <li>Software Testing. December 2018. Udemy.</li>
        <li>
          Learn Manual Testing:basics for beginners - Naveen Kumar A. December
          2018. Udemy.
        </li>
      </ul>
    </li>
    <li>
      <b>2017:</b>
      <ul>
        <li>
          Automated Business Readable Web Tests with Selenium and SpecFlow.
          January 2017. Pluralsight.
        </li>
        <li>
          Automated Web Testing with Selenium. 4h. February 2017. Pluralsight.
        </li>
        <li>Docker Deep Dive. February 2017. Pluralsight.</li>
      </ul>
    </li>
  </ul>
</section>
